@font-face {
    font-family: "ComicNeueSansID" ;
    src: url('fonts/ComicNeueSansID.ttf') format('truetype');
}

@font-face {
    font-family:'Montserrat-Regular';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family:'Countach';
    src: url('fonts/Countach.otf') format('opentype');
}
